/* external css: flickity.css, fullscreen.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: white;   
}

.carousel-image {
  display: block;
  height: 500px;
  /* set min-width, allow images to set cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 50px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}

.carousel-image2 {
  display: block;
  height: 250px;
  /* set min-width, allow images to set cell width */
  margin-right: 50px;
  min-width: 75px;
  max-width: 100%;  
  top: 50%;
  transform: translateY(-50%)
  
}

.carousel-image3 {
  display: block;
  height: 300x;
  /* set min-width, allow images to set cell width */
  margin-right: 50px;
  min-width: 75px;
  max-width: 100%;  
  top: 50%;
  transform: translateY(-50%)
  
}

#intro{
  margin-left: 10px;
}

#landingPg{
  margin: 10px;
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

.caption {
  background: white;
  margin: 0;
  padding: 10px;
  text-align: center;
}


@media (max-width: 576px) {
    
    .carousel-image{
        
        height: 350px;
       
    }
    
  
    
     }