
.productImgs {
    max-width: 100%;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.trendinglogo {
    max-width: 100%;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;    
}

.brdcol {
    padding-bottom: 25%;
}

.boarder {
    border: thick black solid;
    padding: 0;
    margin: 0;
}

.landing{
    margin-left: 10px;
    margin-right: 10px;
  }

*/ .mid {
    padding-bottom: 15%;
}

.brd {
    padding: 0;
    background-color: white;
    text-align: center;
    padding-bottom: 100px;
}

.favstar {
    max-width: 100%;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.backlogo {
    max-width: 100%;
    max-height: 40px;
    display: block;
}

.favadd {
    text-align: center;
}

.productImgs2 {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.foot {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
    background-color: #f8f9fa;
}

.foot2 {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 50px;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    left: 0;
}

.f1 {
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a {
    color: black;
}

.rowtop {
    margin-top: 80px;
}

.rowpad {
    padding-bottom: 10px;
}

.nopad {
    padding: 0px;
    margin: 0px;
}

.loginArea {
    display: flex;
    text-align: left;
    padding-left: 30px;
}

.reg {
    padding-right: 30px;
    padding-left: 30px;
}

.loginArea2 {
    display: flex;
    text-align: left;
    padding-left: 0;
    width: 50%;
    float: left;
}

.loginArea3 {
    display: flex;
    text-align: left;
    padding-left: 0;
    width: 50%;
    float: right;
}

.sortBy {
    padding-top: 10px;
    padding-left: 20px;
    width: 180px;
    display: inline block;
}

.sortBy2 {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    width: 180px;
}

.sortDep {
    width: 180px;
    padding-top: 20px;
    padding-left: 20px;
}

.checkout {
    text-align: center;
}

.searchbtn {
    margin-right: 10px;
}

.reviewbutton {
    margin-top: 7px;
}

.productinfo {
    text-align: center;
}

.reviews {
    text-align: center;
    border: thin dotted gray;
}

.centreHeader {
    text-align: center;
}

.featuredGym {
    text-align: center;
}

.featuredtxt {
    text-align: center;
}

#products {
    margin-left: 100px;
}

#productName {
    text-align: center;
}

#addproductdesc {
    text-align: center;
}

#productPrice {
    text-align: center;
}

#productDescription {
    text-align: justify;
    text-justify: inter-word;
    color: grey;
}

#productBuy {
    text-align: center;
}

.ratingSelect {
    margin: 0;
}

.reviewArea {
    border: thin dotted black;
}

.lists {
    padding: 0;
}

.center-block {
    margin: auto;
    display: block;
    width: 5%;
}

#confirmDelete {
    position: absolute;
    display: block;
    margin: auto;
}

#view {
    float: left;
}

#delete {
    display: inline-block;
}

#reviews {
    border: thin dotted black;
}

.brandorcatselect {
    width: 30%;
}

.brandorcatlist {
    padding-left: 0;
}

.myacc {
    border: thin dotted black;
}

.rightbutton {
    float: right;
}

#myacc {
    float: left;
}

#inlinebtn {
    display: inline-block;
    padding-left: 10px;
}

.basket {
    margin-top: 2px;
}

#adminpic {
    height: 30%;
    width: 30%;
}

.viewform {
    float: left;
}

.contactlogo {
    size: 50%;
}

.swiper-container {
    width: 600px;
    height: 300px;
}

@media (max-width: 767.98px) {
    .productImgs2 {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .center-block {
        margin: auto;
        display: block;
        width: 15%;
    }
    .foot2 {
        padding-top: 1%;
        padding-bottom: 1%;
        margin-top: 50px;
        background-color: #f8f9fa;
    }
    .baskettable {
        width: 100%;
    }
    .brandorcatselect {
        width: 100%;
    }
}